variables:
  GIT_SUBMODULE_STRATEGY: recursive
  TERM: linux
  GIT_STRATEGY: clone

cours:
  stage: build
  only:
    - master@stephane/econometrics
  script:
    - make -C cours
    - make -C td
    - make -C examens
    - scp cours/chapitre-1.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp cours/chapitre-2.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp cours/chapitre-3.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp cours/chapitre-4.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp examens/partiel-2023.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp examens/partiel-2024.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp examens/correction-2023.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp examens/correction-2024.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp td/fiche-exercices.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp td/td-correction-1.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp td/td-correction-2.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp td/td-correction-3.pdf /home/www/le-mans.adjemian.eu/econometrics
    - scp cours/codes/chapitre-1.org /home/www/le-mans.adjemian.eu/econometrics/codes
    - scp -r cours/codes/chapitre-1 /home/www/le-mans.adjemian.eu/econometrics/codes
    - scp -r cours/images /home/www/le-mans.adjemian.eu/econometrics
    - scp -r cours/data /home/www/le-mans.adjemian.eu/econometrics
  artifacts:
    paths:
      - cours/chapitre-1.pdf
      - cours/chapitre-2.pdf
      - cours/chapitre-3.pdf
      - cours/chapitre-4.pdf
      - td/fiche-exercices.pdf
      - examens/partiel-2023.pdf
      - examens/partiel-2024.pdf
      - examens/correction-2023.pdf
      - examens/correction-2024.pdf
  tags:
    - stepan@puck